/*!
 Philipp Rouast page */
.ui.inverted.segment {
  padding: 7em 0em;
}
.segment {
  margin: 7em 0em;
}
.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 7em 0em;
}
.ui.white.link {
  color: #ffffff;
}
.ui.white.link:hover {
  color: #B3B3B3;
}
#hidableProjects {
  display: none;
  padding-top: 20px;
}
#moreTAC {
  display: none;
}
#moreECIS {
  display: none;
}
#moreFCS {
  display: none;
}
#moreAITIC {
  display: none;
}
#hidablePublications {
  display: none;
  padding-top: 20px;
}
