/*!
 Philipp Rouast page */
.ui.inverted.segment {
  padding: 7em 0em;
}
.segment {
  margin: 7em 0em;
}
.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 7em 0em;
}
.ui.white.link {
  color: #ffffff;
}
.ui.white.link:hover {
  color: #B3B3B3;
}
#hidableProjects {
  display: none;
  padding-top: 20px;
}
#moreTAC2019 {
  display: none;
}
#moreECIS2018 {
  display: none;
}
#moreFCS2016 {
  display: none;
}
#moreAITIC2016 {
  display: none;
}
#moreJBHI2019 {
  display: none;
}
#moreACC2020 {
  display: none;
}
#moreJBHI2020 {
  display: none;
}
#hidablePublications {
  display: none;
  padding-top: 20px;
}
